// background-color:
$body-bg: #FFF7ED;
$nav-bg: #FFF7ED;
$foot-bg: #252525;
$widget-bg: #FFEAD0;
$black-bg: #161616;

// font-colos:
$main-black-fc: #161616;
$alt-black-fc: #4D4D4D;
$white-fc: #FFFFFF;
$foot-fc: #AAAAAA;

// border-colors:
$border-ccc : #ccc;
$border-ddd : #ddd;
$border-eee : #eee;

// colors:
$black: #161616;
$white: #FFFFFF;
$basic: $body-bg;
$orange: #FF8C38;
$green: #115E59;

// other:
$filter-Bg: #FFEAD0;